.admin {
    .container {
        height: 100%;
        position: relative;
        .filter-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .button {
                &.right {
                    margin: 0;
                }
            }
        }
        &.has-sliders {

        }
    }

    a {
        &:after {
            content: none;
        }
    }
    #sidebar {
        a:hover {
            color: inherit;
        }
    }
}
