.admin {
    .container {
        height: 100%;
        position: relative;
        .filter-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .button {
                &.right {
                    margin: 0;
                }
            }
        }
        &.has-sliders {

        }
    }

    a {
        &:after {
            content: none;
        }
    }
    #sidebar {
        background-color: #111217;
        a:hover {
            color: inherit;
        }
    }

    .availability {
        display: flex;
        align-items: center;
        .percentage-meter {
            margin-left: 20px;
            padding: 5px;
            color: var(--default-black);
            border-radius: 5px;
            &.low {
                background-color: greenyellow;
            }
            &.medium {
                background-color: orange;
            }
            &.high {
                background-color: red;
            }
        }
    }
}
