.calender-container {
    width: 100%;
    .calender {
        background-color: white;
        border-radius: 25px;
        padding: 40px;
        h1 {
            font-size: 1.5rem;
            font-weight: bold;
        }
        i {
            font-size: 12px;
        }
        .calender-month{
            margin-bottom: 20px;
        }
    }
}
