.container{
    .calender{
        background-color: white;
        border-radius: 2em;
        padding: 2em;
        margin-left: 60px;
        width: 50%;

        h1{
            font-size: 30px;
            font-weight: bold;
        }

        .calender-month{
            margin-bottom: 20px;
        }
    }
}
