:root {
    --default-lightblue: #007bff;
    --default-darkblue: #0056b3;
    --default-white: #ffffff;
    --default-offwhite: #efefef;
    --default-red: #dc3545;
    --default-black: #000000;
    --default-grey: #B0B0B0;
    --default-button-color: #e8f0fe;
    --input-shadow-color: #E1DEFF;
    --default-pink: #E39FF6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--default-offwhite);
}

button, a.button {
    background-color: var(--default-lightblue);
    color: var(--default-white);
    padding: 10px 25px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid var(--default-lightblue);
    transition: 0.3s;
    font-weight: 600;
    margin: 30px auto;
    &.right {
        float: right;
        clear: both;
    }
    &:hover {
        background-color: var(--default-white);
        color: var(--default-lightblue);
    }
    &.item-button {
        margin-bottom: 0;
        color: var(--default-black);
        box-shadow: 0px 4px 6px 2px var(--input-shadow-color);
        background-color: var(--default-button-color);
        border: none;
        transform: translateY(0);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
            box-shadow: 0px 8px 12px 4px var(--input-shadow-color);
            transform: translateY(-5px);
        }
    }
    &.delete {
        background-color: var(--default-red);
        border-color: var(--default-red);
        &:hover {
            background-color: var(--default-white);
            color: var(--default-red);
        }
    }
}

.container {
    max-width: 1280px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
}

form {
    span {
        color: var(--default-red);
    }
    .file {
        color: var(--default-lightblue);
        text-decoration: underline;
    }
}

.table {
    thead {
        tr {
            td {
                font-weight: 600;
                color: var(--default-black);
            }
        }
    }

    a {
        color: var(--default-lightblue);
        &:hover {
            color: var(--default-darkblue);
        }
    }
}
