.sliders {
    width: 100%;
    padding: 0 20px;
    margin-top: auto;
    .button {
        margin: 0 auto 15px;
    }
}

form.dropzone {
    span {
        color: var(--default-black);
    }
    .dz-error-message {
        margin-top: 20px;
        overflow-wrap: anywhere;
        span {
            color: var(--default-white);
        }
    }
    .dz-filename {
        overflow-wrap: anywhere;
    }
    .dz-preview {
        .dz-image {
            display: flex;
            align-items: center;
        }
        .dz-remove {
            margin: 0 auto;
        }
    }
}
